<div id="about">
  <div class="about-content col-sm-10 col-sm-offset-1">
    <h3>How can I help?</h3>
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="skills-image col-xs-12 col-sm-12 col-md-12">
              <%= partial 'images/scope.svg' %>
          </div>
          <div class="skills-text col-xs-12 col-sm-12 col-md-12">
           <h4 id="scope">Scope</h4>
            <p>Defining your project's<br> user stories and roadmap</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="skills-image col-xs-12 col-sm-12 col-md-12">
              <%= partial 'images/design.svg' %>
          </div>
          <div class="skills-text col-xs-12 col-sm-12 col-md-12">
            <h4 id="design">Design</h4>
            <p>Thinking through the overall<br> user experience</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="skills-image col-xs-12 col-sm-12 col-md-12">
              <%= partial 'images/build.svg' %>
          </div>
          <div class="skills-text col-xs-12 col-sm-12 col-md-12">
            <h4 id="build">Build</h4>
            <p>Coding, testing, deploying and maintaining your product</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
