<div id="contact">
  <div class="contact-content col-lg-8 col-sm-10 col-sm-offset-1">
    <h3>Let's discuss your project!</h3>
    <div class="status">
      <div class="status-wrapper">
        <div class="pulse"></div>
        <p class="status-text">I'm currently available for new adventures<div id="hide-xs">&nbsp;&nbsp; 🚀</div></p>
      </div>
    </div>
    <div class="container form-container">
      <div class="row">
        <form name="simple-contact-form" id="simple-contact-form" accept-charset="utf-8" action="https://getsimpleform.com/messages?form_api_token=10b141e3e1c67fe8f3ddb53eba2aa974" method="post" id="simple-contact-form" lang="en">
<!--     <input type='hidden' name='redirect_to' value='/#contact' /> -->
          <fieldset>
            <div class="form-group">
              <label for="full-name">Your full name</label>
              <input type="text" name="name" id="full-name" placeholder="e.g. 'Major Tom'" required="" oninvalid="this.setCustomValidity('Please fill in your full name.')" oninput="setCustomValidity('')" class="form-control">
            </div>
            <div class="form-group">
              <label for="email-address">Your email address</label>
              <input type="email" name="email" id="email-address" placeholder="e.g. majortom@nasa.com" required="" oninvalid="this.setCustomValidity('Please enter a valid email.')" oninput="setCustomValidity('')" class="form-control">
            </div>
            <div class="form-group">
              <label for="message">Your message</label>
              <textarea rows="5" name="message" id="message" placeholder="e.g. 'This is Major Tom to Ground Control. I'm stepping through the door. And I'm floating in a most peculiar way. And the stars look very different today.'" required="" oninvalid="this.setCustomValidity('Please enter your message.')" oninput="setCustomValidity('')" class="form-control"></textarea>
            </div>
            <div class="form-group">
          </fieldset>
          <div class="col text-center">
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
