<div class="modal fade text-center" id="emailsent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
<!--         <button type="button" class="close float-left" data-dismiss="modal" aria-hidden="true">&times;</button>
 -->          <div class="modal-body">
            <h6>✨ Thank you! Your email has been sent.</h6>
          </div>
      </div>
    </div>
  </div>
</div>
