<div class="footer">
  <div class="container text-center">
    <div class="footer-links">
      <a id="icon-twitter" href="https://twitter.com/manufarez"><%= partial 'images/icon-twitter.svg' %></a>
      <a id="icon-ln" href="https://www.linkedin.com/in/manufarez/"><%= partial 'images/icon-ln.svg' %></a>
    </div>
    <div class="footer-copyright">
      <p>Made with <a href="https://middlemanapp.com/">Middleman</a>, <a href="https://getbootstrap.com/">Bootsrap</a>, <a href="https://codepen.io/saransh/">Parallaxe Star</a><br> Manuel Farez © <%= Date.today.strftime("%Y") %></p>
    </div>
  </div>
</div>
