#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  scroll-snap-align: start;
  img {
    width: 150px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }
  h3 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0px;
    color: $white;
    text-align: center;
  }
  @include sm {
  h3 {
      font-size: 24px;
    }
  }
}

.skills-text {
  margin-bottom: 1em;
  @include sm {
    margin-bottom: 0.5em;
  }
}

.about-content svg {
  max-height: 75px;
  margin-bottom: 1.5em;
  @include sm {
    max-height: 65px;
    margin: 0.5em 0em;
  }
  @include xs {
    max-height: 50px;
    margin: 0.25em 0em;
  }
}

#scope {
  color: $green;
}

#design {
  color: $light-blue;
}

#build {
  color: $yellow;
}
