// Define variables for your breakpoints

// The friggin iPhone 5
$screen-xs-max: 320px;

// Smartphones
$screen-sm-max: 576px;

// Small tablets and large smartphones (landscape view)
$screen-md-max: 768px;

// Small tablets (portrait view)
$screen-lg-max: 992px;

// Tablets and small desktops
$screen-xl-max: 1200px;
